@page
@model OdeToFood.Pages.Restraunts.ClientRestrauntModel
@{
    ViewData["Title"] = "ClientRestraunt";
}

<h1>ClientRestraunt</h1>
@section Scripts{ 
        <script>

            $(function () {

                $.ajax("/api/Restraunts/", { method: "get" }).
                    then(function (response) {
                    console.log(response);
                })
            });
        </script>
}

